extends layout

block content
    h1 #{title}

    .category-detail
        h2 #{category.name}
        p #{category.description}

        .category-items
        p We have a variety of items in the #{category.name} category

        ul

        each item in items  
            li 
                a(href=item.url) #{item.name}

        else 
            p Whoops, we currently don't have any items in this category available. 

