extends layout

block content
    .header
        h1 #{title}
        if currentUser
            a(href=category.url + '/update') Update Category
            a(href=category.url + '/delete') Delete Category

    .category-detail
        h2 #{category.name}

        .main
            .img
                img(src=category.imageURL)

            .content
                p #{category.description}

                if items.length > 0
                    p #[strong The following #{category.name} are available in our shop: ]
                    ul
                    each item in items  
                        li 
                            a(href=item.url) #{item.name}
                else 
                    p #[strong Whoops, we currently don't have any items in this category available.] 
    
    .foot     
        a(href='/store/categories') << Back to categories
    

            

