extends layout

block content 
    if(currentUser)
        .border-img
            h1 Welcome back to the shop #{user.username}! 

            p Edit shop inventory below:
                ul
                    li 
                        a(href='/store/category/create') Create a new equipment category
                    li
                        a(href='/store/item/create') Create a new item listing
                    li
                        a(href='/store/itemcopy/create') Create a new item copy
    
    else 
        .home
            div.border-img
                h1 Welcome to the #{title}  
                h2 Purveyors of Adventuring Gear since 3001 Fourth Age

            p We carry an eclectic mix of items suited for adventurers of all types. From basic vituals to exotic weapons and everything in between. Our collection is gathered from all corners of the many kingdoms, the wilderlands, and beyond. Feel free to peruse our collection! 

            if error
                p Sorry! Inventory failed to load!
            else 
                .inventory-summary
                    .cat #[strong Equipment Categories]: !{data.category_count}
                    .cat #[strong Legendary Items: ] !{data.item_count_legendary}
                    .cat #[strong Items]: !{data.item_count}
                    .cat #[strong Total Items]: !{data.itemcopy_count}
                    .cat #[strong Items Available for Sale]: !{data.itemcopy_count_available}
                    .cat #[strong Items on Order: ] !{data.itemcopy_count_onorder}
                    


//- Add listings for Rare and Legendary items
