extends layout

block content
    h1 #{title}
    p A list of all our items (available, on order, and out of stock)

    .inventory-lists
        h3 Available:
        ul
            each item in item_copies
                if item.status === 'Available'
                    li
                        a(href=item.url) #{item.item.name} - #{item.price}
        
            else 
                p No items are currently available


        h3 On Order:
        ul
            each item in item_copies
                if item.status === 'On Order'
                    li
                        a(href=item.url) #{item.item.name} - #{item.price}
                
            else 
                p We are currently not restocking

        h3 Out of Stock:
        ul
            each item in item_copies
                if item.status === 'Out of Stock'
                    li
                        a(href=item.url) #{item.item.name} - #{item.price}
                
            else 
                p No items currently out of stock

