extends layout

block content
    .header
        nav
            h1 #{title}
            a(href="/store/item/create") Add New Item
    p We regularily stock the following items:

    .item-list
    dl
        - items.sort(function(a, b) {let textA = a; let textB = b; return (textA > textB) ? -1 : (textA < textB) ? 1 : 0 })
        each item in items
            .category-list-item
                header
                    h2 
                        a(href=item.url) #{item.name}
                .content
                    p  #{item.description} 
                    a(href=item.url) Click for availability
            
        else 
            p This category currently has no items.
