extends layout

block content
    .header
        nav
            h1 #{title}
            a(href="/store/itemcopy/create") Add New Item Copy
    p A list of all our items (available, on order, and out of stock)

    .inventory-lists
        h3 Available:
        div.gallery
            each item in item_copies
                if item.status === 'Available'
                    a(href=item.url)
                        div.gallery-item
                            h5 #{item.item.name} 
                            .img
                                img(src=item.imageURL)
                            p #{item.price}
            
            else 
                p No items are currently available


        h3 On Order:
        div.gallery
            each item in item_copies
                if item.status === 'On Order'
                     a(href=item.url)
                        div.gallery-item
                            h5 #{item.item.name} 
                            p #{item.price}
                
            else 
                p We are currently not restocking

        h3 Out of Stock:
        div.gallery
            each item in item_copies
                if item.status === 'Out of Stock'
                    a(href=item.url)
                        div.gallery-item
                            h5 #{item.item.name} 
                            p #{item.price}
            else 
                p No items currently out of stock

