extends layout

block content
    h1 #{title}#{itemcopy ? `: ${itemcopy.item.name}` : null}

    form(action="" method='POST' enctype='multipart/form-data') 
        label(for="item") Item: 
        select#item.form-control(name='item' type='select' placeholder="Select an item" required=true)
             - items.sort(function(a, b) {let textA = a.name.toUpperCase(); let textB = b.name.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});
             for item in items
                option(value=item._id selected=(selected_item.toString()==item._id.toString() ? 'selected' : false)) #{item.name}
        label(for='price') Price:
        input#price.form-control(name='price' type='text' placeholder='5 platinum/gold/copper/silver pieces' value=(itemcopy===undefined ? '' : itemcopy.price))
        label(for='weight') Weight:
        input#weight.form-control(name='weight' type='number' min=1 value=(itemcopy===undefined ? '' : itemcopy.weight))
        label(for='status') Status:
        select#status.form-control(name='status' type='select' placeholder='Select a status' required=true)
            option(value='Available' selected=(itemcopy===undefined || itemcopy.status != 'Available' ? false : 'selected')) Available
            option(value='On Order' selected=(itemcopy===undefined || itemcopy.status != 'On Order' ? false : 'selected')) On Order
            option(value='Out of Stock' selected=(itemcopy===undefined || itemcopy.status != 'Out of Stock' ? false : 'selected')) Out of Stock
        label(for='picture') Choose an image (optional):
        input#picture.form-control(type='file' name='picture' accept='image/*')
        button#submit Submit
    
    if errors
        ul
        for error in errors
            li!= error.msg